*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url("./assets/5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Quicksand', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.container{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid rgb(255, 255, 255); */
}
.cimg{
    width: auto ;
    margin: 0 20px;
    position: relative;
}
h1{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    font-size: 1.5rem;
    font-weight:700;
    letter-spacing: 0.5px;
}
#text{
    color: rgb(255, 81, 0);
}
.cimg:hover #text{
    opacity: 1;
    z-index: 7;
}
.cimg:hover img{
    filter: blur(3px);
    z-index: 1;
}